:root {
    --bg-gray: #606468; /* Abu-abu seperti di foto */
    --teal: #76c1bb;    /* Hijau teal seperti di foto */
}

* { box-sizing: border-box; margin: 0; padding: 0; font-family: Arial, sans-serif; }

html, body {
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Scroll Lock */
}
